<div class="modal"> <!-- ng-controller="ActCtrl" -->

<ion-header-bar class="bar-secondary">
    <h1 class="title">Edit Act</h1>
    <div class="buttons">
        <button class="button button-clear button-positive" ng-click="closeEditAct()">Cancel</button>
    </div>
</ion-header-bar>


<!-- Modal content area -->
<ion-content>
    <div class="list card">
        <label class="item item-input">
            <span class="input-label">
                <input type="text" placeholder="Size" ng-model="act.size">
            </span>

        </label>
        <label class="item item-input">
            <input type="text" placeholder="act.performer" ng-model="act.performer">
        </label>
        <label class="item item-input">
            <ion-checkbox ng-model="act.callTime.isDone"
                          ng-checked="act.callTime.isDone"></ion-checkbox>
            <span class="input-label">Call time:</span>
            <input type="text" ng-model="act.callTime.start">
        </label>
        <label class="item item-input">
            <ion-checkbox ng-model="act.setUp.isDone"
                          ng-checked="act.setUp.isDone"></ion-checkbox>
            <span class="input-label">Setup times</span>
            <input type="text" ng-model="act.setUp.start"> -
            <input type="text" ng-model="act.setUp.end">
        </label>
        <label class="item item-input">
            <ion-checkbox ng-model="act.set.isDone"
                          ng-checked="act.set.isDone"></ion-checkbox>
            <span class="input-label">Set times</span>
            <input type="text" ng-model="act.set.start"> -
            <input type="text" ng-model="act.set.end">
        </label>
        <label class="item item-input">
            <span class="input-label">Needs</span>
            <input type="text" ng-model="act.needs">
        </label>
    </div>
    <div class="padding">
        <button type="submit"
                class="button button-block button-balanced"
                ng-click="modifyAct(act)">
            Save Edits</button>
    </div>
</ion-content>

</div>
