<ion-view title="{{title}}">
  <ion-content class="has-header">


    <ion-list ng-repeat="act in acts" href="#/app/festivals/{{festival.id}}">
      <div class="list card">

        <!-- CARD HEADER -->
        <div class="item item-header">
          <div class="item-header-left">
            <p>{{act.size}}</p>
            <h2>{{act.performer}}</h2>
          </div>
          <div class="act-edit-button">
            <button class="button button-icon right" ng-click="editAct(act)">
              <i class="icon ion-compose"></i>
          </div>
        </div>

        <!-- CARD DETAILS -->
        <!--div class="item item-body"-->
          <ion-checkbox ng-model="act.call.isDone"
                        ng-checked="act.call.isDone">
            <span class="timeCheckbox">call:</span> {{act.call.start}}
          </ion-checkbox>
          <ion-checkbox ng-model="act.setUp.isDone"
                        ng-checked="act.setUp.isDone">
            <span class="timeCheckbox">setup:</span> {{act.setUp.start}} - {{act.setUp.end}}
          </ion-checkbox>
          <ion-checkbox ng-model="act.set.isDone"
                        ng-checked="act.set.isDone">
            <span class="timeCheckbox">set:</span> {{act.set.start}} - {{act.set.end}}
          </ion-checkbox>
          <div class="act-needs">
            <i class="icon ion-grid"></i>
            <div class="content">
              <p>{{act.needs}}</p>
            </div>
          </div>
        <!--/div-->

        <!-- MODAL -->
        <script id="edit-act.html" type="text/ng-template">
          <div class="modal">

            <ion-header-bar class="bar-secondary">
              <h1 class="title">Edit Act</h1>
              <button class="button button-clear button-balanced" ng-click="closeEditAct()">Cancel</button>
            </ion-header-bar>

            <!-- Modal content area -->
            <ion-content>
              <div class="list card">
                <label class="item item-input">
                  <span class="input-label">Size</span>
                  <input type="text" ng-model="act.size">
                </label>
                <label class="item item-input">
                  <input type="text" placeholder="act.performer" ng-model="act.performer">
                </label>
                <label class="item item-input">
                  <ion-checkbox ng-model="act.call.isDone"
                                ng-checked="act.call.isDone"></ion-checkbox>
                  <span class="input-label">Call time</span>
                  <input type="text" ng-model="act.call[start]">
                </label>
                <label class="item item-input">
                  <ion-checkbox ng-model="act.setUp.isDone"
                                ng-checked="act.setUp.isDone"></ion-checkbox>
                  <span class="input-label">Setup times</span>
                  <input type="text" ng-model="act.setUp[start]"> -
                  <input type="text" ng-model="act.setUp.end">
                </label>
                <label class="item item-input">
                  <ion-checkbox ng-model="act.set.isDone"
                                ng-checked="act.set.isDone"></ion-checkbox>
                  <span class="input-label">Set times</span>
                  <input type="text" ng-model="act.set.start"> -
                  <input type="text" ng-model="act.set[end]">
                </label>
                <label class="item item-input">
                  <span class="input-label">Needs</span>
                  <input type="text" ng-model="act.needs">
                </label>
              </div>
              <div class="padding">
                <button type="submit"
                        class="button button-block button-balanced"
                        ng-click="modifyAct(act)">
                        Save Edits</button>
              </div>
            </ion-content>

          </div>
        </script>


        </div>
    </ion-list>

  </ion-content>
</ion-view>
