$act-needs-icon-width: 60px;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1em;
}

h1, h2, h3 {
    width: 100%;
    margin: auto;
}

table, table tr, table td {
    padding: 0;
    border: 0;
    border-spacing: 0;
}

.list {
    background-color: #c2eaad;
}


.timeCheckbox {
    min-width: 4em;
    float: left;
}

.item-header-left {
    float: left;
}

.item-header-left p {
    padding-bottom: 0.75em;
    margin-bottom: 0;
    border-spacing: 0;
}

.item-header-left h2 {
    padding-top: 0;
}

.act-edit-button {
    float: right;
}

.act-needs .icon {
    float: left;
    padding: 5px;
    margin: 5px;
}

.act-needs .content {
    float: left;
    // http://stackoverflow.com/questions/13274599/sass-calculate-percent-minus-px
    width: unquote("calc(100% - 45px)");
    margin-left: 10px;
    margin-top: -16px;
}