$act-needs-icon-width: 60px;


*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1em;
}

h1, h2, h3 {
    width: 100%;
    margin: auto;
}

table, table tr, table td {
    padding: 0;
    border: 0;
    border-spacing: 0;
}

.troubleshooting {
    background-color: lightpink;
    border: 1px solid yellow;
}


input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"] {
}

input[type="date"] {
    min-width: 15em;
    max-width: 15em;
}

input[type="time"] {
    min-width: 10em;
    max-width: 10em;
}

.edit-label {
    width: 5em;
    color: #2A6BD5;
}

.edit-time-label {
    width: 4em;
    color: #2A6BD5;
}

.edit-date-label {
    margin-left: 4.75em;
}

.borderless {
    border: 0;
}


.list {
    background-color: #c2eaad;
}


.timeCheckbox {
    min-width: 4em;
    float: left;
}

.item-header-left {
    float: left;
}

.item-header-left p {
    padding-bottom: 0.75em;
    margin-bottom: 0;
    border-spacing: 0;
}

.item-header-left h2 {
    padding-top: 0;
}

.act-edit-button {
    float: right;
}

.act-needs .icon {
    float: left;
    padding: 5px;
    margin: 5px;
}

.act-needs .content {
    float: left;
    // http://stackoverflow.com/questions/13274599/sass-calculate-percent-minus-px
    width: unquote("calc(100% - 45px)");
    margin-left: 10px;
    margin-top: -16px;
}


.edit-needs-label {
     margin-right: 0;
 }